.navbar{
    background-color: white;
}

a{
    color: #295307;
}

.jumbotron{
  background-color: transparent;
  padding: 1%;
}

#title{
  margin-top: 3%;
}

img{
  width: 75%;
}

main{
  padding-left: 5%;
  padding-right: 5%;
}

.container-fluid {
  font-family: Georgia, BemboStdRegular, Serif;
  color: #295307;
  padding-left: 3%;
  padding-right: 3%;
}

.panel-title {
  color: #295307;
  font-family: Georgia, BemboStdRegular, Serif;\
}

.panel-default>.panel-heading{
  background-color: #c9d7b2;
}
